*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter';
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.container{
    max-width: 1320px;
    margin: auto;
}

.services-section{
    padding: 120px 0 !important;
    background-color: #0c0809;
}



.text-center{
    text-align: center;
}

.services-content h1{
    color: #ffffff;
    font-size: 44px;
}

.services-content p{
    color: #acacac;
    font-size: 18px;
    margin: 20px 0 30px 0;
}

.awarded{
    opacity: 1;
    transform: none;
    transition-duration: .7s;
}

.design{
    padding: 0 40px; 
    background-color: transparent;
    box-shadow: none;
    margin-top: 25px;
    transition: transform .65s cubic-bezier(.05,.2,.1,1), box-shadow .65s cubic-bezier(.05,.2,.1,1);
    position: relative;
    z-index: 2;
}

.icon{
    width: 90px;
    height: 90px;
    margin: 0 auto 23px;
    line-height: 90px;
    border-radius: 50%;
}

.icon-1{
    color: #059dff;   
    background-color: #011827;
}

.icon-2{
    background-color: #190301;
    color: #fb5343;
}
.icon-3{
    background-color: #150b40;
    color: #6549d5;
}
.icon-4{
    background-color: #2f011d;
    color: #e03f9f;
}

.design-content h5{
    margin-bottom: 19px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

.design-content p{
    font-size: 18px;
    color: #65676b;
    line-height: 1.67rem;

}

.design:hover{
    transform: translateY(-5px);
}